@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Playfair Display";
    }
}

@layer utilities {

    .clip-none {

        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .clip-active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
 
 }